@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
$fontKids: 'Nerko One', cursive;
$light: #fcfafd;
$dark: #000000;
$bsIn: -13px -13px 25px #e8e6e9, 
13px 13px 25px #ffffff;
$bsOut: -13px -13px 25px #d6d5d7, 
13px 13px 25px #ffffff;
$bSoftB: -13px -13px 25px #71aded65, 
13px 13px 25px #71aded65;
$blue: #71aded;
$blue2: #0263e4;