@import 'variables';

.light-bg {
    background-color: $light;
}
.dark-bg {
    background-color: $dark;
}
.nav-link {
    padding: 10px 25px;
    box-shadow: $bsIn;
    margin-left: 20px;
    border-radius: 30px;
    border-left: 1px $blue solid;

    &:hover {
        transition-property: all;
        transform-style: preserve-3d;
        transition-duration: 500ms;
        border: 1px $blue solid;
    }
}
.logo {
    img {
        max-height: 50px;
    }
}
.door {
    width: 300px;
    height: 300px;
    border: 1px solid $blue;
    

    &:hover {
        box-shadow: $bsIn;
    }
}