@import 'variables';

html, body {
    overflow-x: hidden;
    background-image: linear-gradient(to right, blue 50%, white 50%);
}
.light-bg {
    background-color: $light;
}
.dark-bg {
    background-color: $dark;
}
.nav-link {
    padding: 10px 25px;
    box-shadow: $bsIn;
    margin-left: 20px;
    border-radius: 30px;
    border-left: 1px $blue solid;

    &:hover {
        transition-property: all;
        transform-style: preserve-3d;
        transition-duration: 500ms;
        border: 1px $blue solid;
    }
}
.box {
    position: relative;
}
// .door {
//     width: 200px;
//     height: 250px;
// }
// .door-shadow {
//     background-color: $blue;
//     position: absolute;
//     z-index: -10;
//     border-radius: 20px;
    
// }
.door {
    
    border-radius: 30px;
    background-color: $light;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1 {
        color: gainsboro;
        text-transform: uppercase;
        margin-bottom: 20px;
        font-family: $fontKids;
    }
    &:hover {
        h1 {
            color: black;
        }

        .door-shadow {
            background-color: $blue2;
        }
    }
}
.btn {
    color: $blue;
    padding: 10px 40px;
    border-radius: 30px;
    font-size: 20px;
    box-shadow: $bsIn;
    border-left: 1px solid $blue;

    &:hover {
        background-color: $blue2;
        box-shadow: $bsOut;
        color: $light;
    }
}

